[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-extensions = "*"
pygraphviz = "*"
django-ckeditor = "*"
django-allauth = "*"
django-cleanup = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3"
